.movieList {
    
    background-color: #0e1422;
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    list-style: none;
    gap: 20px;
    padding: 145px 15px 20px 15px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    
}

.popups {
    display: flex;
    justify-content: center;
}